{% extends 'frontend/layouts/app.html' %}
{% block main_content %}
<article class="blog-post px-3 py-5 p-md-5">
    <div class="container">
        <header class="blog-post-header">
            <h2 class="title mb-2">{{ post.title }}</h2>
            <div class="meta mb-3"><span class="date">Published {{post.created_at}}</span><span class="author">{{ post.author.get_full_name }}</span></div>
        </header>
        
        <div class="blog-post-body">
            <figure class="blog-banner">
                <a href="#"><img class="img-fluid" src="/media/{{ post.image }}" alt="image"></a>
            </figure>
            <p> {{post.content}} </p>
           
        </div>
            
        <nav class="blog-nav nav nav-justified my-5">
          <a class="nav-link-prev nav-item nav-link rounded-left" href="{% url 'home' %}">Back to Home<i class="arrow-prev fas fa-long-arrow-alt-left"></i></a>
        </nav>
        
    </div><!--//container-->
</article>

<section class="promo-section theme-bg-light py-5 text-center">
    <div class="container">
        <h2 class="title">Promo Section Heading</h2>
        <p>You can use this section to promote your side projects etc. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. </p>
        <figure class="promo-figure">
            <a href="https://made4dev.com" target="_blank"><img class="img-fluid" src="/media/promo-banner.jpg" alt="image"></a>
        </figure>
    </div><!--//container-->
</section><!--//promo-section-->

{% endblock main_content %}