{% extends 'backend/layouts/app.html' %}

{% block main_content %}

<div class="col-xl-12 col-lg-12">
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Edit Post</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
            {% if messages %}
            {% for message in messages %}
            <div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-{{ message.tags }}{% endif %}" role="alert">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            
            {% for field in form %}
            {% if field.errors %}
            <div class="alert alert-danger">{{ field.errors }}</div>
            {% endif %}
            {% endfor %}
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label>Title</label>
                    {{ form.title }}
                </div>
                <div class="form-group">
                    <label>Content</label>
                    {{ form.content }}
                </div>
                <div class="form-group">
                    <label>Category</label>
                    {{ form.category }}
                </div>
                <div class="form-group">
                    <label>Featured Image</label>
                    <img src="{{ form.image.value.url }}" width="100" height="100" alt=""><br>
                    <br>{{ form.image }}
                </div>
                <input name="submit" type="submit" value="Update Post" class="btn btn-primary btn-block" />
            </form>
        </div>
    </div>
</div>

{% endblock main_content %}